<h2 class="title">PROYECTOS</h2>
<div class="container">
    <div class="item">
        <h3 class="title">EpaKeRompimo</h3>
        <a href="https://github.com/lautaroroldan/EpaKeRompimo">
            <img src="/img/EpaKeRompimo-Home.jpg" alt="EpaKeRompimo">
            <div class="description">
                <p>
                    Proyecto desarrollado con mis compañeros de la facultad para buscar y comparar
                    el precio de videojuegos de distintas plataformas en tiempo real.
                </p>
            </div>
        </a>
    </div>
    <div class="item">
        <h3 class="title">RecetasPG</h3>
        <a href="https://github.com/pablowalter11/RecetasPG">
            <img src="/img/RecetasPG-Home.jpg" alt="RecetasPG">
            <div class="description">
                <p>
                    Proyecto personal para crear una página donde anotar recetas de cocina,
                    ya sean las más elaboradas o las más simples.
                </p>
            </div>
        </a>
    </div>
</div>
<!-- Después cuando los proyectos estén subidos a una página uso un iframe para mostrarlos -->