<h2>CONTACTO</h2>
<div class="container">
    <div>
        <h3>Contactame de forma laboral:</h3>
        <p>CONTACTAME POR MI GMAIL: {{gmail}}</p>
        <button (click)="showGamil()">MOSTRAR</button>
        <p>CONTACTAME POR MI CELULAR: {{celular}}</p>
        <button (click)="showCelular()">MOSTRAR</button>
    </div>
    <div>
        <h3>Visitá mis redes laborales:</h3>
        <p>VISITAME EN GITHUB: </p> <button></button>
        <p>VISITAME EN LINKEDIN: </p> <button></button>
    </div>
    <div>
        <h3>Conocé mis redes sociales:</h3>
        <p>CONOCEME POR TWITTER: </p> <button></button>
        <p>CONOCEME POR REDDIT: </p> <button></button>
    </div>
</div>